{% extends "layout.html" %}

{% block sidebar %}

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Configuración</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />
  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Inicio</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />
  <!-- Nav Item - Dashboard -->
  <li class="nav-item {{ 'active' if request.path == '/configuracion/cuenta' else '' }}">
    <a class="nav-link" href="/configuracion/cuenta">
      <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
      <span>Cuenta</span></a>
  </li>

  <!-- Nav Item - Dashboard -->
  <li class="nav-item {{ 'active' if request.path == '/configuracion/compartir-tarjeta' else '' }}">
    <a class="nav-link" href="/configuracion/compartir-tarjeta">
      <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
      <span>Compartir tarjetas</span></a>
  </li>

  <!-- Nav Item - Dashboard -->
  <li class="nav-item {{ 'active' if request.path == '/configuracion/opciones-de-pago' else '' }}">
    <a class="nav-link" href="/configuracion/opciones-de-pago">
      <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
      <span>Opciones de pago</span></a>
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
{% endblock %}


{% block content %}
{% block config_content %}{% endblock %}
{% endblock %}